TOKEN_SERVER_CONTROL=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_ID=YOUR_TELEGRAM_NUMERIC_USER_ID
DASH_PORT=8080
DASH_SECRET=REPLACE_WITH_A_LONG_RANDOM_SECRET
DASH_TOKEN=REPLACE_WITH_A_LONG_RANDOM_DASHBOARD_TOKEN
ALERT_CPU=90
ALERT_RAM=90
ALERT_DISK=95
ALERT_CD=600
